@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serifz;
}
.profile { text-align: center; display: flex; width: 100%; height: 100%; position: fixed;}
.profileContent { height: 100%; position: absolute; right: 100px; left: 0; display: flex; overflow-y: auto;}

/*LEFT*/
.profileLeft {width: 50%; height: 100%; background-color: #ad3a6e;}
.userDetails {width: 100%; height: 30%; padding: 30px 50px;}
.userInfo {width: 100%; height: 100%; background-color: #FFF; display: flex; border-radius: 5px;}
.userProfile {width: 30%; height: 100%; }

/* Profile Pic */
.solarProfile {width: 100%; height: 100%; cursor: pointer; border-radius: 50%; overflow: hidden; transform: scale(1.2, 1.3) translateX(-15px); box-shadow: -2px -2px 1px rgba(167,50,103,0.2), 1px 1px 2px rgba(0, 0, 0, 0.8); }
#profilePic { width: 100%; height: 100%;}
.choose-propic {z-index: 2; transition: 0.2s;}
#profileinputbutton {width: 0;}
.choose-propic {width: 100%; background-color: rgba(0, 0, 0, 0.5); height: 50px; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;}
.solarProfile:hover .choose-propic {animation: slidepropic 0.2s ease-in forwards;}
.solarProfile:hover .mainDP {font-size: 26px; color: white; margin-top: 10px;}
@keyframes slidepropic {
    from { transform: translateY(0);}
    to { transform: translateY(-50px);}
}

.user {width: 70%; height: 100%; display: flex; justify-content: flex-start; align-items: center; padding: 20px;}
.userData {width: 100%; height: 62%; background-color: #ad3a6e; display: grid; place-items: center; padding: 20px 50px;}
.white {width: 100%; height: 100%; background-color: #FFF; border-radius: 5px;}

/*RIGHT*/
.profileRight {width: 50%; height: 100%; background-image: url("../Images/Cover.jpg"); background-size: cover; background-repeat: no-repeat;}
.statusHighLight {width: 100%; height: 15%; background-color: rgba(0,0,0,0.4); display: grid; place-items: center; color: #FFFFFF;}
