@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

.settings { text-align: center; display: flex; width: 100%; height: 100%; position: fixed;}
.settingContent { position: absolute; right: 100px; left: 0; top: 0; bottom: 60px ;display: flex; overflow-y: auto;}

/* Right Part */
.settingRight {width: 100%;}
.rightContent {width: 100%; height: 100%;}
.rightUp, .rightDown {width: 100%; height: 50%; display: flex; transition: .5s;}
.first, .second, .third, .fourth {width: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: .5s;}
.settings-heading1, .settings-heading2, .settings-heading3, .settings-heading4 {width: 100%; height: 100%; display: grid; place-items: center;}
.settings-data1, .settings-data2, .settings-data3, .settings-data4 {display: none;}
.SHeading {display: flex; justify-content: center; width: 100%; height: 10%; align-items: center;}
.SHeading h4 { color: #ad3a6e; font-size: 34px; font-family: 'Montserrat', sans-serif;}
.first:hover, .second:hover, .third:hover, .fourth:hover {background-color: #F5F5F5; box-shadow: 0px 2px 8px rgba(127,127,127,0.5);}

.SDataWrapper {width: 100%; height: 90%; display: flex; justify-content: flex-end;}
.SData { width: 80%; overflow-y: auto; margin-right: 20px; text-align: left; animation: fade 1s ease-in forwards;}
.SData ul li {padding: 20px 0; color: #7C7C7C; position: relative; list-style: none;}
.SData ul li::before { content: ''; width: 2px; height: 100%; background-color: #ad3a6e; position: absolute; left: -31px;}
.SData ul li:last-child::before {height: 0;}
.SData ul li h5 { color: #7C7C7C; font-family: 'Montserrat', sans-serif; margin-bottom: 20px;}
.SData ul li h5::after { content: ''; width: 20px; height: 20px; background-color: #ad3a6e; position: absolute; left: -40px; border-radius: 50%;}

/*PERSONAL*/

.userName form {display: flex; align-items: center; width: 90%; justify-content: space-between;}
.userName form input[type="text"] { width: 300px;}
.userName form .newUserName {display: flex; align-items: center; width: 70%; justify-content: space-between;}
.userName form .newUserName label {margin-right: 10px;}
.userName form input[type="submit"] { display: block; border: 2px solid #782c4c; border-radius: 5px; width: 5rem; height: 2rem; color: #782c4c; cursor: pointer; background-color: white; font-size: 16px; font-family: 'Montserrat', sans-serif;}
.userName form input[type="submit"]:hover { border: none; background-image: linear-gradient(to bottom, #782c4c, #AD3A6E); color: white; box-shadow: 0px 2px 8px rgba(173,58,110,.4);}
.userName form input[type="submit"]:focus {outline: none;}

.userProfession form {display: flex; align-items: center; width: 90%; justify-content: space-between;}
.userProfession form input[type="text"] { width: 300px;}
.userProfession form .newUserProfession {display: flex; align-items: center; width: 70%; justify-content: space-between;}
.userProfession form .newUserProfession label {margin-right: 10px;}
.userProfession form input[type="submit"] { display: block; border: 2px solid #782c4c; border-radius: 5px; width: 5rem; height: 2rem; color: #782c4c; cursor: pointer; background-color: white; font-size: 16px; font-family: 'Montserrat', sans-serif;}
.userProfession form input[type="submit"]:hover { border: none; background-image: linear-gradient(to bottom, #782c4c, #AD3A6E); color: white; box-shadow: 0px 2px 8px rgba(173,58,110,.4);}
.userProfession form input[type="submit"]:focus {outline: none;}

/*SECURITY*/

.userEmail form {display: flex; align-items: center; width: 90%; justify-content: space-between;}
.userEmail form input[type="text"] { width: 300px;}
.userEmail form .newUserEmail label {margin-right: 10px;}
.userEmail form .newUserEmail {display: flex; align-items: center; width: 70%; justify-content: space-between;}
.userEmail form input[type="submit"] { display: block; border: 2px solid #782c4c; border-radius: 5px; width: 5rem; height: 2rem; color: #782c4c; cursor: pointer; background-color: white; font-size: 16px; font-family: 'Montserrat', sans-serif;}
.userEmail form input[type="submit"]:hover { border: none; background-image: linear-gradient(to bottom, #782c4c, #AD3A6E); color: white; box-shadow: 0px 2px 8px rgba(173,58,110,.4);}
.userEmail form input[type="submit"]:focus {outline: none;}

.userPassword form {display: flex; align-items: flex-start; width: 100%; justify-content: flex-start; flex-direction: column;}
.userPassword form div {margin: 4px 0;}
.userPassword form input[type="text"] { width: 300px;}
.userPassword form .DivPass1, .userPassword form .DivPass2 { display: flex; align-items: center; width: 90%; justify-content: space-between;}
.userPassword form .currentUserPassword, .userPassword form .newUserPassword, .userPassword form .newUserCPassword {width: 70%; display: flex; justify-content: space-between;}
.userPassword form .currentUserPassword label, .userPassword form .newUserPassword label, .userPassword form .newUserCPassword label {margin-right: 10px;}
.userPassword form input[type="submit"] { display: block; border: 2px solid #782c4c; border-radius: 5px; width: 5rem; height: 2rem; color: #782c4c; cursor: pointer; background-color: white; font-size: 16px; font-family: 'Montserrat', sans-serif;}
.userPassword form input[type="submit"]:hover { border: none; background-image: linear-gradient(to bottom, #782c4c, #AD3A6E); color: white; box-shadow: 0px 2px 8px rgba(173,58,110,.4);}
.userPassword form input[type="submit"]:focus {outline: none;}

/*PRIVACY*/
.userStatus form input[type="submit"] { display: block; border: 2px solid #782c4c; border-radius: 5px; width: 5rem; height: 2rem; color: #782c4c; cursor: pointer; background-color: white; font-size: 16px; font-family: 'Montserrat', sans-serif;}
.userStatus form input[type="submit"]:hover { border: none; background-image: linear-gradient(to bottom, #782c4c, #AD3A6E); color: white; box-shadow: 0px 2px 8px rgba(173,58,110,.4);}
.userStatus form input[type="submit"]:focus {outline: none;}
.newUserStatus {margin: 5px 0; width: 100%;}
.newUserStatus .radio-input {position: relative; width: 100%;}
.newUserStatus .radio-input input {margin-left: 15px; opacity: 0;}
.newUserStatus .radio-input input:checked ~ .checkmark2 { background-color: #782c4c;}
.newUserStatus .radio-input:hover { cursor: pointer;}
.checkmark2 {height: 20px; width: 20px; border-radius: 50%; border: 2px solid #782c4c; position: absolute; top: 2px; left: 10%;}

/*HELP CENTER*/
.HelpButtons {display: block; border: 2px solid #782c4c; border-radius: 5px; width: 5rem; height: 2rem; color: #782c4c; cursor: pointer; background-color: white; font-size: 16px; font-family: 'Montserrat', sans-serif;}
.HelpButtons:hover {border: none; background-image: linear-gradient(to bottom, #782c4c, #AD3A6E); color: white; box-shadow: 0px 2px 8px rgba(173,58,110,.4);}
.HelpButtons:focus {outline: none;}

@keyframes fade {
    from{
        opacity: 0;
        pointer-events: none;
    }
    to{
        opacity: 1;
        pointer-events: all;
    }
}

/*Scrollbar*/
.SData::-webkit-scrollbar { height: 10px; width: 10px;}
.SData::-webkit-scrollbar-track { background: #d1d1d1; }
.SData::-webkit-scrollbar-thumb { background: #8B8B8B; border-radius: 10px; }
.SData::-webkit-scrollbar-thumb:hover { background: #555; }

input[type="text"] { border: none; border-bottom: 2px solid #7C7C7C; padding: 5px 5px;}
input[type="text"]:focus {outline: none; border-bottom: 2px solid #ad3a6e;}